*.diff
*.patch
*.orig
*.rej

*~
*.a
*.lo
*.o
*.dylib

*.gcda
*.gcno
*.gcov

/example
/example64
/examplesh
/libz.so*
/minigzip
/minigzip64
/minigzipsh
/zlib.pc
/configure.log

.DS_Store
/contrib/vstudio/vc14/x64
/contrib/vstudio/vc14/x86
/contrib/vstudio/vc15/x64
/contrib/vstudio/vc15/x86
/contrib/vstudio/vc14/.vs/zlibvc/v14/.suo
/contrib/vstudio/vc14/.vs/zlibvc/v15/.suo
/contrib/vstudio/vc14/.vs/zlibvc/v15/Browse.VC.db
/contrib/vstudio/vc14/.vs/zlibvc/v15/Solution.VC.db
/contrib/vstudio/vc14/zlibvc.VC.VC.opendb
/contrib/vstudio/vc14/zlibvc.VC.db
/contrib/vstudio/vc15/.vs/zlibvc/v14/.suo
/contrib/vstudio/vc15/.vs/zlibvc/v15/.suo
/contrib/vstudio/vc15/.vs/zlibvc/v15/Browse.VC.db
/contrib/vstudio/vc15/.vs/zlibvc/v15/Browse.VC.opendb
/contrib/vstudio/vc15/.vs/zlibvc/v15/Solution.VC.db
/contrib/vstudio/vc15/.vs/zlibvc/v15/Solution.VC.db-shm
/contrib/vstudio/vc15/.vs/zlibvc/v15/Solution.VC.db-wal
/contrib/vstudio/vc15/*.user
/contrib/vstudio/vc15/zlibvc.VC.db
/contrib/vstudio/vc14/zlibvc.vcxproj.user
/contrib/vstudio/vc14/ia64
/contrib/vstudio/vc14/zlibstat.vcxproj.user
/contrib/vstudio/vc15/zlibvc.VC.VC.opendb
/contrib/vstudio/vc16/.vs/zlibvc/v14/*.suo
/contrib/vstudio/vc16/.vs/zlibvc/v15/Browse.VC.db
/contrib/vstudio/vc16/.vs/zlibvc/v15/.suo
/contrib/vstudio/vc16/.vs/zlibvc/v15/Solution.VC.db
/contrib/vstudio/vc16/.vs/zlibvc/v16/.suo
/contrib/vstudio/vc16/.vs/zlibvc/v16/Browse.VC.db
/contrib/vstudio/vc16/.vs/zlibvc/v16/Browse.VC.opendb
/contrib/vstudio/vc16/.vs/zlibvc/v16/Solution.VC.db
/contrib/vstudio/vc16/.vs/zlibvc/v16/Solution.VC.db-shm
/contrib/vstudio/vc16/.vs/zlibvc/v16/Solution.VC.db-wal
/contrib/vstudio/vc16/x64
/contrib/vstudio/vc16/x86
/contrib/vstudio/vc16/zlibvc.VC.db
/contrib/vstudio/vc16/zlibvc.VC.VC.opendb
/contrib/vstudio/vc16/miniunz.vcxproj.user
/contrib/vstudio/vc16/minizip.vcxproj.user
/contrib/vstudio/vc16/testzlib.vcxproj.user
/contrib/vstudio/vc16/testzlibdll.vcxproj.user
/contrib/vstudio/vc16/zlibstat.vcxproj.user
/contrib/vstudio/vc16/zlibvc.vcxproj.user
build
src
/zconf.h.included
